/* 全体 */

body {
  background: #F5F5F5;
}

/* カレンダー部 */

#calendar {
  font-family: sans-serif;
  text-align: center;
}

/* 年月 */

.yearMonth {
  font-size: 16pt;
  width: 100%;
  height: 1.5em;
  margin-top: -2em;
}

/* 1週間の行 */

.row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* 日付 */

.weekName, .day {
  border-top: 1px solid #F5F5F5;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #F5F5F5;
  background: #FFFFFF;
  color: #000000;
  font-size: 20pt;
  font-weight: lighter;
  height: 1.3em;
  display: table-cell;
  vertical-align: middle;
}

/* 曜日名 */

.weekName {
  border-right: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  background: #DDDDDD;
  font-size: 12pt;
  font-weight: normal;
  height: 1.5em;
}

/* 日曜日 */

.day0 {
  color: #FF0000;
}

/* 月曜日 */

.day1 {
}

/* 火曜日 */

.day2 {
}

/* 水曜日 */

.day3 {
}

/* 木曜日 */

.day4 {
}

/* 金曜日 */

.day5 {
}

/* 土曜日 */

.day6 {
  color: #0000FF;
}

/* 休日 */

.holiday {
  background: #FAB0A2;
}

/* 今日 */

.today {
  background: #FFFFBB;
}

/* 祝日・二十四節気・年中行事一覧 */

.dayList {
  margin: 1em 0em;
}

.holidayHead, .head24sekki, .annualFunctionHead {
  padding: 0.2em 0.5em;
  text-align: left;
  font-size: 11pt;
}

.holidayBody, .body24sekki, .annualFunctionBody {
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  background: #FFFFFF;
  padding: 0.2em 1.5em 0.5em 1.5em;
  text-align: left;
  font-size: 10pt;
}

/* 祝日一覧ヘッダ */

.holidayHead {
  background: #F4B2B2;
}

/* 二十四節気一覧ヘッダ */

.head24sekki {
  background: #B3DDF5;
}

/* 年中行事一覧ヘッダ */

.annualFunctionHead {
  background: #A5E1BD;
}

/* 要素を均等に配置する */

.flexbox {
  display: flex;
  justify-content: space-between;
}

/* 年月表示用スペース */

.yearMonthBlank {
  width: 50%;
}

/* 月送りボタン */

.navigationButton {
  margin-top: -0.5em;
}

/* ボタン */

input.button {
  border-top: 1px solid #EEEEEE;
  border-right: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  border-left: 1px solid #EEEEEE;
  border-radius: 0.2em; 
  background: #FFFFFF;
  color: #000000;
  font-size: 16pt;
  height: 1.5em;
}

/* ボタンの横幅 */

input#prev, input#next {
  width: 15%;
}

input#today, input#selectYearMonth {
  width: 44%;
}

input#about {
  width: 10%;
}

/* ボタンにフォーカスがある時の内側の点線を消す */

input.button::-moz-focus-inner {
  border: none;
}

/* ボタンが押されている時 */

input.button:active {
  background: #E0E0E0;
  padding: 0em;
}

/* 日時入力欄を消す */

input#datePicker {
  width: 0em;
  height: 0em;
  border: none;
}

/* About ダイアログ */

#aboutDialog {
  background: #F5F5F5;
  color: #000000;
  display: none;
  position: fixed;
  overflow: auto;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
}

/* リンクをタップした時に出る点線を消す */

#aboutDialog a {
  outline: none;
}

.appIcon {
  width: 128px;
  height: 128px;
}

.appName {
  font-size: 16pt;
}

.appHr {
  border: none;
  background: #AAAAAA;
  width: 80%;
  height: 1px;
}

input#close {
  width: 96%;
  margin: 0.5em 0em;
}
